body{
  background-color: #ddd3fa;
  
}

*{
  font-family: 'Rajdhani', sans-serif;
}
.nav-menu {
    background-color: #190061;
    display: flex;
    height: 50px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  body{
    padding: 0;
    margin: 0;
  }

  .nav-menu img{
    align-items: center;
    padding: 5px;
    width: 300px;
    height: 45px;
  } 
  
  .nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-menu li {
    margin: 0 10px;
  }
  
  .nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .nav-menu a:hover {
    color:  #fff;
  }
  
  .resume-btn {
    /* background-color: #ffd700; */
     border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.3s ease;
  }
  
  .resume-btn:hover {
    /* background-color: #fff; */
    color: #333;
  } 
  
  .fa-download {
    margin-right: 5px;
  }


  /* Animation */
.nav-menu {
    opacity: 0;
    animation: fadeInDown 0.5s ease-in-out forwards;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* toggle */
  .navbar-toggle {
    display: none;
  background: transparent;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 1100;
  }
  
  .navbar-toggle:focus {
    outline: none;
  }
  
  .navbar-toggle-icon,
  .navbar-toggle-icon:before,
  .navbar-toggle-icon:after {
    background-color: #ffffff;
    content: "";
    display: block;
    height: 3px;
    width: 35px;
    position: absolute;
    left: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-toggle-icon:before {
    top: -8px;
  }
  
  .navbar-toggle-icon:after {
    top: 8px;
  }


    /* Animation for hamburger menu */
    .navbar-toggle.active .navbar-toggle-icon:before {
      top: 0;
      transform: rotate(45deg);
    }
    
    .navbar-toggle.active .navbar-toggle-icon {
      transform: rotate(45deg);
    }
    
    .navbar-toggle.active .navbar-toggle-icon:after {
      top: 0;
      transform: rotate(-45deg);
    }


  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Poppins',sans-serif;
  }
  
  .navbar-menu li {
    margin: 0 10px;
    position: relative;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    font-size: 18px;
    letter-spacing: 0.5px; 
    font-weight: 100;   
  }
  .navbar-menu li::after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  .navbar-menu li:hover::after{
    width: 100%;
    
  }

  

  



#home{
  margin-top: 200px;
  margin-left: 15%;
  margin-right: 10%;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
}

.name > span{
  font-family: 'Sigmar', cursive;
  color: #190061;
}

#resume-download{
  padding: 15px;
  width: 180px;
  border: 0.1px solid #190061;
  border-radius: 5px;
  font-size: 20px;
  background-color: #ddd3fa;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out
  
}
#resume-download:hover{
  background-color: #190061;
  color: #fff;
}

/* reponsive required */
#about{
  margin-top: 100px;
  margin-right: 15%;
  margin-left: 15%;
  height: 300px;
}
#heading{
  font-size: 25px;
  color: #190061;
}



.aboutdetails{
  display: flex;
  justify-content: space-between;
  
}
.aboutdetails h3{
  
}

.aboutdetails div{
  width: 30%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
}

.aboutdetails img{
  width: 35%;
  border-radius: 20px;
}




#skills{
   margin-top: 250px;
    margin-right: 15%;
   margin-left: 15%;
}


.skills-card{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}
.skills-card img,h4{
  width: 70%;
  text-align: center;
}

.skills-card-img{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a{
  text-decoration: none;
  color: black
}
button:hover{
  color: #fff;
}
a:hover{
  color: #fff;
}


/* Responsive */
@media (max-width: 820px) {
  .navbar-toggle {
    display: block;
  }
  .navbar-menu {
    position: absolute;
    top: 60px;
    right: 100%;
    width: 100%;
    background-color: #333;
    transition: all 0.3s ease-in-out;
  }
  .navbar-menu.show {
    right: 0;
  }
  .navbar-menu li {
    margin: 10px 0;
    text-align: center;
  }
  .navbar-brand {
    margin: 0;
    text-align: center;
  }
  .aboutdetails{
    display: flex;
    flex-direction: column;
  }
  .aboutdetails div{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .aboutdetails img{
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
  }
  #skills{
    margin-top: 60%;
     margin-right: 15%;
    margin-left: 15%;
 }


 .skills-card{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
}

}

@media (max-width: 500px) {
 #skills{
    margin-top: 90%;
     margin-right: 15%;
    margin-left: 15%;
 }
 #home{
  text-align: center;
 }
}