
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/*Independed components*/
.btn-con {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}

.aboutdetails h3 .main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid gray;
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.aboutdetails h3 .main-btn .btn-text {
  text-align: center;
  padding: 0 2rem;
}
.aboutdetails h3 .main-btn .btn-icon {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.aboutdetails h3 .main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.aboutdetails h3 .main-btn:hover {
  transition: all 0.4s ease-out;
}
.aboutdetails h3 .main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: gray;
  transform: translateX(0);
  transition: all 0.4s ease-out;
}




body{
  background-color: #ddd3fa;
  
}

*{
  /* font-family: 'Rajdhani', sans-serif; */
  scroll-behavior: smooth;
  /* font-family: 'Hind', sans-serif; */
  /* font-family: 'Poppins',sans-serif; */
  font-family: 'Hind Siliguri', sans-serif;
}

.nav-menu {
    background-color: #2f3542;
    display: flex;
    height: 50px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  body{
    padding: 0;
    margin: 0;
  }

 
  
  .nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-menu li {
    margin: 0 10px;
  }
  
  .nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .nav-menu a:hover {
    color:  #fff;
  }
  
  .resume-btn {
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.3s ease;
  }
  
  .resume-btn:hover {
    color: #333;
  } 
  
  .fa-download {
    margin-right: 5px;
  }


  /* Animation */
.nav-menu {
    opacity: 0;
    animation: fadeInDown 0.5s ease-in-out forwards;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar-menu li {
    margin: 0 10px;
    position: relative;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    font-size: 18px;
    letter-spacing: 0.5px; 
    font-weight: 100;   
  }
  .navbar-menu li::after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  .navbar-menu li:hover::after{
    width: 100%;
    
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px 15px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.humburger{
    display: none;
    cursor: pointer;
}

  
/* home section */

#home{
  margin-top: 200px;
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  
  color: #747d8c;
  font-weight: bolder;
}
.homecon{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.typing{
  /* color: #805dea; */
  color: #2f3542;
}
#home img{
  border-radius: 20px;
}
#name{
  font-weight: 500;
}
#intro{
  font-weight: 300;
}

/* #resume-download{
  padding: 15px;
  width: 180px;
  /* border: 0.1px solid #190061; */
  /* background-color: #039BE5;
  border-radius: 5px;
  font-size: 20px;
  background-color: #ddd3fa;
  border: 1px solid #039BE5;
  color: #039BE5;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out */
/* } */
/* #resume-download:hover{ */
  /* background-color: #190061; */
  /* background-color: #039BE5;
  color: #fff;
  border: #024e74;
}  */


#resume-download{
  width: 200px;
  padding: 10px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  /* font-weight: bold; */
  font-size: 20px;
  border: 1px solid #2f3542;
  background: transparent;
  /* color: #039BE5; */
  color: #2f3542;;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cover {
  background-color: #2f3542;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
#resume-download:hover{
  color: #fff;
  border: none;
}
button:hover span {
  width: 101%;
  color: #fff;
}
button:hover {
  border: none;
}


.typing{
  font-weight: 400;
}



/* reponsive required */
#about{
  margin-top: 100px;
  /* background-color: #805dea; */
  background-color: #2f3542;
  color: #000000;
  padding-top: 40px;
  padding-bottom: 60px;
  font-weight: 300;
}
#heading{  
  font-size: 25px;
  
  text-align: center;
  margin-top: 10%;
  /* color: #fff; */
  color: #fff;
}


.aboutdetails{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  font-size: 20px;
  font-weight: 100;
  color: #190061;
}

.aboutdetails h3{
  font-weight: 200;
  color: #fff;
}

.aboutdetails img{
  width: 300px;
  border-radius: 50px;
  height: 300px;
}




#skills{
   margin-top: 100px;
  width: 100%;
}
#skills div{
  margin-top: 40px;
  text-align: center;
}
#skills img{
  width: 40%;
}
.skills-card{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.skills-card img,h4{
  width: 70%;
  text-align: center;
}

.skills-card-img{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a{
  text-decoration: none;
  color: black
}
button:hover{
  color: #fff;
}
a:hover{
  color: #fff;
}
.aboutdetails h3{
  width: 50%;
}

/* other */

#nameheading{
  font-size: 40px;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  display: flex;
  align-items: center;
}


#image-wrapper {
  perspective: 1000px;
  display: inline-block;
}

#image-wrapper img {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

#image-wrapper:hover img {
  transform: rotateX(10deg) rotateY(10deg);
  border: 2px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


section{
  margin-bottom: 60px;
}

#contact{
  width: 100%;
}

.contact-section {
  text-align: center;
  font-size: 20px;
  /* padding: 30px; */
}

.contact-list {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 50%;
  padding: 40px;
  
}

.con{
  width: 100%;
  background-color: #2f3542;
}

.contact-item {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.contact-item a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.contact-item i {
  margin-right: 5px;
}

.contact-item::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #039BE5;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.contact-item:hover a {
  color: #039BE5;
}

.contact-item:hover::after {
  opacity: 1;
}
.skills-card-img{
  display: flex;
  justify-content: space-between;
}
.img{
  width: 250px;
}

/* calender */
:root {
  --color-calendar-graph-day-bg: #4f4f4f;
  --color-calendar-graph-day-L1-bg: #39dd34;
  --color-calendar-graph-day-L2-bg: #45a045;
  --color-calendar-graph-day-L3-bg: #047526;
  --color-calendar-graph-day-L4-bg: #0a4208;
}

rect.ContributionCalendar-day[data-level='0'] {
    fill: var(--color-calendar-graph-day-bg);
}

rect.ContributionCalendar-day[data-level='1'] {
    fill: var(--color-calendar-graph-day-L1-bg);
}

rect.ContributionCalendar-day[data-level='2'] {
    fill: var(--color-calendar-graph-day-L2-bg);
}

rect.ContributionCalendar-day[data-level='3'] {
    fill: var(--color-calendar-graph-day-L3-bg);
}

rect.ContributionCalendar-day[data-level='4'] {
    fill: var(--color-calendar-graph-day-L4-bg);
}

.Github-calendar{
  width: 100%;
  margin: auto;
  margin-top: 100px;
  color: #000000;
}
.calendar{
  width: 100%;
  
  margin-top: 100px;
  color: #000000;
}
.stat div{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  
  text-align: center;
}
.stat div img{
  text-align: center;
  width: 30%;
  margin: auto;
}

#projects{
  width: 100%;
  background-color: #2f3542;
  padding-top: 30px;
}

#projects img{
  width: 240px;
}

.container{
  padding: 30px;
}

.project-card{
  width: 90%;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  margin: auto;
  background-color: #57606f;
  text-align: center;
  border-radius: 10px;
  line-height: 20px;
  color: #fff;
  font-weight: 300;
}

.source{
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  
}

.source:hover{
  background-color: #2f3542;
  transition: 0.3s ease-in-out;
}

.source a{
  text-decoration: none;
  border-radius: 100px;
}
.btn{
  padding: 30px;
  display: flex;
  justify-content: space-between;
  /* justify-content: end; */
  align-items: end;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: auto;
}
#white{
  margin-top: 50px;
}

/* Responsive  tab*/
@media (max-width: 800px){
  

 .humburger{
  display: block;
  margin-top: 10px;
 }

 .humburger.active>.bar:nth-child(2) {
  opacity: 0;
}

.humburger.active>.bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.humburger.active>.bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.navbar-menu{
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: #2f3542;
  width: 100%;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.navbar-menu li{
  margin: 16px 0;
}
.navbar-menu.active{
  left: 0;
}


  .aboutdetails{
    width: 100%;
  }
  #projects{
    width: 100%;
  }
 
  #home{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #about{
    width: 100%;
  }
  .aboutdetails{
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
  .aboutdetails h3{
    width: 90%;
    margin: auto;
  }
  .aboutdetails img{
    /* width: 50%; */
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
  }

  .stat div img{
    width: 100%;
    margin: auto;
  }

  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: auto;
  }
  .homecon{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}


/* mobile */
@media (max-width: 700px) {

  .homecon{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .homecon img{
    width: 100%;
    text-align: center;
  }
  .homecon div{
    text-align: center;
    width: 90%;
    margin: auto;
  }
  
 
#about{
  width: 100%;
}
.aboutdetails{
  display: flex;
  flex-direction: column;
  text-align: center;
 
}
.aboutdetails h3{
  width: 90%;
  margin: auto;
}
.aboutdetails img{
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.stat div img{
  width: 100%;
  margin: auto;
}
.container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px; 
}
.skills-card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.calendar{
  width: 100%;
  color: #000000;
}

#contact{
  width: 100%;
}
#contact li{
  margin: 10px 0;
  font-size: 80%;
  text-align: center; 
}

}

.none{
  display: none;
}